body{
    background-color: #45151b;
}

h1{
    color:#fbd9cd;
    display:flex;
    justify-content: center;
}
.Labs{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: left;
}
#Lab1 {
    background-color: #fbd9cd;
    padding: 10px 50px;

        width: calc(33.33% - 20px);
    box-sizing: border-box;   
    height: fit-content;
    border-radius: 17px;
}

#Lab1  h3, ol, a{
    color: #270c0f;
}
#Lab2 {
    background-color: #f4aaba;
    padding: 10px 50px;

        width: calc(33.33% - 20px);
    box-sizing: border-box;   
    height: fit-content;
    border-radius: 17px;
}

#Lab2 h3, ol, a{
    color: #45151b;
}